{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DropbyDrop</title>

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">


</head>
<body>

{#TODO header, footer add#}
{#{% include 'base/header.html' %}#}
{#{% include 'base/footer.html' %}#}


<div id="app">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2">
                <li>
                    <router-link class="nav-link" to="/"> Home</router-link>
                </li>
                <li>
                    <router-link class="nav-link" to="about"> About</router-link>
                </li>
                <li>
                    <router-link class="nav-link" to="contact"> Contact</router-link>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">


        <div class="text-center" style="margin-top: 20px;">
            <router-view></router-view>
        </div>
    </div>
</div>

<!-- Vue Pages -->

<script src="{% static 'js/jq.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/general.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="{% static 'js/plugins/axios.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.15.0/bootstrap-vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.2.0/vue-router.min.js"></script>

<script src="{% static 'js/pages/Home.vue.js' %}"></script>
<script src="{% static 'js/pages/About.vue.js' %}"></script>
<script src="{% static 'js/pages/Blog.vue.js' %}"></script>

<!-- Vue Instance and Routes -->
<script>
    var axios = AXIOS

    var routes = [
        {path: '/', component: Home, name: "home"},
        {path: '/:id', component: Blog, name: "blog"},
        {path: '/about', component: About, name: "about"},
    ];

    var router = new VueRouter({
        routes: routes,
        mode: 'history',
        base: '/'
    });

    var app = new Vue({
        el: '#app',
        router: router,
    })

</script>

</body>
</html>