{% extends 'base/index.html' %}


{% block title %}
    Login Page
{% endblock %}


{% block content %}
    {#    TODO in center #}
    <div class="row">

        <div class="offset-2 col-lg-8 card align-self-center ">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="" src="http://via.placeholder.com/400x180" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}